.pic {
    width: 10rem;
    height: 10rem;
    margin-bottom: 1rem;
}

.wrapper {
    width: 25rem;
    height: 32rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    border-radius: 1rem;
    background: rgb(255,255,255,0.6);
    box-shadow: 0 1px 8px rgb(0,0,0,.25) ;
}

.button {
    width:5rem;
    height: 2.8rem;
    background: var(--btn-bgr) ;
    border-radius: .5rem;
    border: none;
    margin: 1rem 1rem;
    cursor: pointer;
}
.button:hover {
    box-shadow: 0 1px 4px rgb(0,0,0,.25) ;

}