html * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body, html {
  width: 100vw;
  font-size: 62.5%;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  line-height: 1.6;
  background: var(--bgr-main)
}

p {
  font-size: 1.6rem;
}

h1 {
  font-size: 2.8rem;
  margin: 4rem 0;
}
h2 {
  font-size: 1.8rem;
  margin: 2rem 0;
}

a:visited{
  color: inherit;
}
ul {
  list-style: none;
}

li {
  font-size: 1.6rem;
  margin: 0 1rem;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bgr-nav);
}

.products-container {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

label {
  font-size: 1.6rem;
}

.go-to {
  margin: 2rem;
}